<div class="row">
  <div class="large-12 columns">
    <div id="credits">
      <p>
        MAC-MAN STUDIOS <small>presents</small>
        <br>
        <small>in association with</small> DEV BOOTCAMP <small>a site unfortunately not directed by</small> MICHAEL BAY <small>or</small> CHRISTOPHER NOLAN "MOVIE DINO"
        </br>
        <small>lead developer</small> MAC BROWNING <small>product manager</small> ANGIE BUI <small>information architect</small> VINCENT STORME <small>lead designer</small> ROBBY FAIRCLOUGH
        </br>
        <small>created on location in </small> SAN FRANCISCO CALIFORNIA
      </p>
      <div id="date">
        <ul>
          <li><span class="rating">R</span></li>
          <li><span class="date"><%= Time.now().strftime('%b %d') %></span></li>
          <li><span class="twitter"><a href="http://www.twitter.com/moviedino"><i class="icon-twitter"></i></a></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
