<% @outing.get_theaters.each do |theater|  %>
  <h1><%= theater.name %></h1>
  <% @theater_selections = @outing.selections.where(:theater_id => theater.id) %>
  <ul>
    <% @outing.get_movies.each do |movie|  %>
      <% @theater_movies = @theater_selections.where(movie_id: movie.id) %>
      <% unless @theater_movies.empty? %>
        <li><h6><%= movie.display_title %></h6>
          <% @theater_movies.each do |selection| %>
            <%= display_time selection.time %>
          <% end %>
        </p>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
