<div class='large-4 columns'>
  <%= select_tag(:day, options_for_select(@days))%>
</div>
<div class='large-2 columns'>
  <span class="between">STARTING BETWEEN</span>
</div>
<div class='large-2 columns'>
  <%= select_tag(:start_time, options_for_select(@time_ranges)) %>
</div>
<div class='large-2 columns'>
  <span class="between">AND</span>
</div>
<div class='large-2 columns'>
  <%= select_tag(:end_time, options_for_select(@time_ranges)) %>
</div>
