<div class="thank-you">
  <br>
  <h1>Success!</h1>
  <h3>We emailed you an invite to share with your friends.</h3>
  <h4>Or if you prefer, share this link: <%= link_to outings_form_url(@outing.link),outings_form_url(@outing.link) %></h4>
  <br>
  <% if @outing.result_date %>
    <p>We will send you results on <strong><%= @outing.result_date_in_timezone %></strong></p>
    <p>Be sure to poll your friends before then. Happy watching!</p>
  <% end %>
    <br>
  <h3> - Dash, The Movie Dino </h3>

</div>
