<div class="thank-you">
  <br>
  <h1>Thank you!</h1>
  <br>
  <br>
  <% if @outing.result_date %>
    <h3><%= @outing.user.first_name %> will find out what showtime works best for everyone on <strong><%= @outing.result_date_in_timezone %></strong></h3>
    </p>
  <% end %>
  <br>
  <h3> - Dash, The Movie Dino </h3>

</div>
