<div class="thank-you">
  <br>
  <h1>Thank you, <%= @attendee.name %>!</h1>
  <br>
  <br>
  <% if @outing.result_date %>
    <h2><%= @outing.user.first_name %> will find out what showtime works best for everyone on <strong><%= @outing.result_date_in_timezone %></strong></h2>
    </p>
  <% end %>
  <br>
  <h3>Happy watching!</h3>

</div>
