<div class='about-page-container'>
  <div class='about-page'>
    <div class='i-profile'>
      <%= image_tag('https://secure.gravatar.com/avatar/5b6409d0fb32ed780373933fd81052fc?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'about-image') %>
      Robby Fairclough
    </div>

    <div class='i-profile'>
      <%= image_tag('https://secure.gravatar.com/avatar/74a3fecf7e34a065f1cdde47fe2fd70d?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'about-image') %>
      Sean 'Mac' Browning
    </div>

    <div class='i-profile'>
      <%= image_tag('https://secure.gravatar.com/avatar/282d9e1d771f9000c0d67fc7c95a9635?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'about-image') %>
      Vincent Storme
    </div>

    <div class='i-profile'>
      <%= image_tag('https://secure.gravatar.com/avatar/f110db3cd0a91c144a716dbf126c5363?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'about-image') %>

      Angie Bui
    </div>
  </div>
</div>
