<div class='about-page'>

  <div class='i-profile'>
    Robby Fairclough
  </div>

  <div class='i-profile'>
    Sean 'Mac' Browning
  </div>

  <div class='i-profile'>
    Dash
  </div>

  <div class='i-profile'>
    Vincent Storme
  </div>

  <div class='i-profile'>
    Angie Bui
  </div>

</div>
