<!-- <div class="row">
  <div class="large-12 columns">
    <div class="dino-wrapper">
      <div class="dino">
        <div><img src="/assets/ticket_dino.png" /></div>
      </div>
    </div>
  </div>
</div> -->

<section id="poster" data-type="background" data-speed="5" class="pages">
  <div class="row">
    <div class="large-4 columns">
      <i class="icon-map-marker"></i>
      <div class="blurb">
        ENTER<br>YOUR<br>ZIPCODE
      </div>
    </div>
    <div class="large-4 columns">
      <i class="icon-ticket"></i>
      <div class="blurb">
        PICK<br>YOUR<br>MOVIES
      </div>
    </div>
    <div class="large-4 columns">
      <i class="icon-group"></i>
      <div class="blurb">
        INVITE<br>YOUR<br>FRIENDS
      </div>
    </div>
  </div>
  <div class="row jumbotron">
    <div class="large-12 columns">
      <article id="movie">MOVIE</article>
      <article id="dino">DINO</article>
    </div>
  </div>
</section>

<script>
$(document).ready(function(){

  setTimeout(function() {
    $( '#search_text' ).trigger('click');
  }, 2000);

  var $window = $( window );

  $('#main').css('padding-top', '0');
 
  $( 'section[data-type="background"]' ).each( function() {
    var $bgobj = $( this );

    $( window ).scroll( function() {
      var yPos = -( $window.scrollTop() / $bgobj.data( 'speed' ));
      var coords = '50% '+ yPos + 'px';
      $bgobj.css( { backgroundPosition: coords } );
    });
  }); 
 
});
</script>
