.about-page-container {
  width: 100%;
  text-align: center;
}

.about-page {
  margin: 20px auto;
  height: 600px;
  width: 1000px;
  padding: 0;
}

.about-page .site-about{
  margin: 20px auto;
  height: 300px;
  width: 600px;
  padding: 0;
  text-align: left;
}

.about-page .i-profile {
  float: left;
  margin: 15px;
  width: 220px;
  height: 300px;
  padding: 20px 10px;
  background-color: #222;
  border-radius: 8px;
}

.about-page .about-image {
  height:200px;
  width: 200px;
  border: 3px solid #F8F8F8;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.about-page .name {
  margin: 20px auto;
  color: #F8F8F8;
}
