/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

 /*
 * CUSTOM FONTS
 */

@font-face {
  font-family: 'ValenciaLight';
  src: url('ValenciaLight.eot');
  src: url('ValenciaLight.eot?#iefix') format('embedded-opentype'),
       url('ValenciaLight.woff') format('woff'),
       url('ValenciaLight.ttf') format('truetype'),
       url('ValenciaLight.svg#DearestRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ValenciaLight";
  src: url(/assets/ValenciaLight.eot);
  src: local("ValenciaLight"), local("ValenciaLight"), url(/assets/fonts/ValenciaLight.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/ValenciaLight.woff) format("woff"), url(/assets/fonts/ValenciaLight.ttf) format("truetype"), url(/assets/fonts/ValenciaLight.svg#MerriweatherHeavy) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'credit_block';
  src: url('credit_block.eot');
  src: url('credit_block.eot?#iefix') format('embedded-opentype'),
       url('credit_block.woff') format('woff'),
       url('credit_block.ttf') format('truetype'),
       url('credit_block.svg#DearestRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "credit_block";
  src: url(/assets/credit_block.eot);
  src: local("credit_block"), local("credit_block"), url(/assets/fonts/credit_block.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/credit_block.woff) format("woff"), url(/assets/fonts/credit_block.ttf) format("truetype"), url(/assets/fonts/credit_block.svg#MerriweatherHeavy) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'Bender-Inline';
  src: url('../fonts/Bender-Inline.eot');
  src: local('☺'), url('../fonts/Bender-Inline.woff') format('woff'), url('../fonts/Bender-Inline.ttf') format('truetype'), url('../fonts/Bender-Inline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ValenciaHairline';
  src: url('/fonts/ValenciaHairline.eot');
  src: local('☺'), url('/fonts/ValenciaHairline.woff') format('woff'), url('/fonts/ValenciaHairline.ttf') format('truetype'), url('/fonts/ValenciaHairline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_ValenciaLight';
  src: url('fonts/ValenciaLight.eot');
  src: local('☺'), url('fonts/ValenciaLight.woff') format('woff'), url('fonts/ValenciaLight.ttf') format('truetype'), url('fonts/ValenciaLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_credit_block';
  src: url('fonts/credit_block.eot');
  src: local('☺'), url('fonts/credit_block.woff') format('woff'), url('fonts/credit_block.ttf') format('truetype'), url('fonts/credit_block.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/