/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

/*
 * CUSTOM FONTS
 */

@font-face {
  font-family: 'ValenciaLight';
  src: url('ValenciaLight.eot');
  src: url('ValenciaLight.eot?#iefix') format('embedded-opentype'),
       url('ValenciaLight.woff') format('woff'),
       url('ValenciaLight.ttf') format('truetype'),
       url('ValenciaLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'credit_block';
  src: url('credit_block.eot');
  src: url('credit_block.eot?#iefix') format('embedded-opentype'),
       url('credit_block.woff') format('woff'),
       url('credit_block.ttf') format('truetype'),
       url('credit_block.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bender-Inline';
  src: url('Bender-Inline.eot');
  src: url('Bender-Inline.eot?#iefix') format('embedded-opentype'),
       url('Bender-Inline.woff') format('woff'),
       url('Bender-Inline.ttf') format('truetype'),
       url('Bender-Inline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
