/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

 #movie-grid .panel {
  height: 228px;
  background-size : 100%;
  background-repeat : no-repeat;
 }

.marquee div input[type='checkbox']{
  display:none;
}
.marquee div label{
  color: #eee;
  font-size: 1.5em;
  text-shadow: 1px 1px #333;
  text-transform: uppercase;
}

.marquee div label:hover{
  background-color: green;
}

.marquee div label.checked{
  border: 5px solid green;
}

/*
 * MOVIE MARQUEE
 */

#movie-marquee {
  width: 1000px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0 60px;
}

#movie-marquee ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style-type: none;
}

#movie-marquee ul li {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

#movie-marquee ul li > a,
#movie-marquee ul li > div {
  display: block;
  text-align: center;
  outline: none;
}

#movie-marquee ul li > a img {
  border: none;
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

#movie-marquee .panel {
  height: 328px;
  background-size : 100% 100%;
  background-repeat : no-repeat;
  margin-bottom: 0;
}

#movie-marquee nav span {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  background: #47a3da;
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: -50px;
  line-height: 100px;
  cursor: pointer;
  font-weight: normal;
}

#movie-marquee nav span:hover {
  background: #378fc3;
}

#movie-marquee nav span.cbp-fwnext {
  right: 0px;
}

#movie-marquee nav span.cbp-fwprev {
  left: 0px;
}