/*#home { 
  background: url(home-bg.jpg) 50% 0 repeat fixed;
  min-height: 1000px;
}
 
#about { 
  background: url(about-bg.jpg) 50% 0 no-repeat;
  min-height: 1000px;  
}
*/
#poster {
  opacity: 1;
  background: url('/assets/ticket-dino-alpha.png') 50% 0 no-repeat fixed;
  background-color: #f8f8f8;
  min-height: 800px; 
  position: relative;
  /*text-shadow: 0px 0px 10px rgba(0,0,0,0.5);*/
  text-shadow: 1px 1px #f8f8f8;
}

#poster #movie {
  color: #222;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 113px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 115px;
  padding-bottom: 10px;
  /*text-shadow: 1px 1px #222;*/
}
 
#poster #dino {
  font-family: 'Bender-Inline', sans-serif;
  color: #1f7f5f;
  font-size: 400px;
  text-align: center;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-top: -100px;
}

#poster .row {
  padding-top: 25px;
}

#poster .row.jumbotron {
  padding-top: 100px;
}

#poster .large-4 {
  font-size: 150px;
  text-align: center;
  font-weight: 900;
}

#poster .large-4 .icon-map-marker {
  color: #1f7f5f;
  margin-left: -20px;
}

#poster .large-4 .icon-ticket {
  color: #1f7f5f;
  margin-left: -35px;
}

#poster .large-4 .icon-group {
  color: #1f7f5f;
  margin-left: -55px;
}

#poster .blurb {
  width: 333px;
  font-size: 50px;
  margin-left: -140px;
}