body {
  font-family: 'Oswald', sans-serif;
  background: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px #fff;
}

p {
  line-height: 1;
}

/*
 * HELPERS
 */

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

/*
 * NAV
 */

.nav {
  background: #222;
  height: 60px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.logo-nav,
.user-nav {
  width: 485px;
  float: left;
}

.nav-wrapper {
  height: 60px;
  background: #222;
}

.nav li {
  float: left;
  list-style-type: none;
  position: relative;
}

.nav li a {
  font-size: 14px;
  color: white;
  display: block;
  line-height: 60px;
  padding: 0px 25px;
  text-decoration: none;
  border-left: 1px solid #2f2f2f;
}

.nav li a:hover {
  background-color: #2f2f2f;
}

.nav form {
  padding: 0;
  margin: 0;
}

#settings #logo {
  color: #1f7f5f;
  font-family: 'Bender-Inline', sans-serif;
  font-size: 50px;
  line-height: 60px;
}

/*#settings #logo span {
  font-family: 'credit_block', sans-serif;
  font-size: 50px;
  line-height: 60px;
}*/

#search {
  width: 360px;
  margin-top: 5px;
}

#search_text {
  height: 50px;
  width: 0px;
  color: #fff;
  font-size: 14px;
  border: 0 none;
  margin-right: 0;
  outline: none;
  background: #1f7f5f;
  padding: 15px 0px;
  float: right;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.75;
}

:-moz-placeholder {
  color: #fff;
  opacity: 0.75;
}

::-moz-placeholder {
  color: #fff;
  opacity: 0.75;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 0.75;
}

#search_text:focus {
  background: rgb(64, 151, 119);
}

#search_button {
  height: 50px;
  width: 50px;
  font-size: 28px;
  border: 0 none;
  background: #1f7f5f;
  float: right;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

#options {
  width: 125px;
}

#options a {
  border-left: 0 none;
}

#options > a {
  text-align: center;
}

.subnav {
  visibility: hidden;
  position: absolute;
  top: 110%;
  right: 0;
  width: 228px;
  height: auto;
  opacity: 0;
  transition: all 0.2s;
  background: #222;
  z-index: 1000;
}

.subnav li {
  height: 60px;
  float: none;
}

.subnav li a {
  border-bottom: 1px solid #2f2f2f;
}

.subnav li a i {
  opacity: 0.75;
  margin-right: 10px;
}

#options:hover .subnav {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

/*
 * END NAV
 */

#dino-form .button {
  position: relative;
  margin-top: 20px;
}

#select h2,
#select h3 {
  color: #ccc;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#movie-grid .panel {
  height: 228px;
  background-size : 100%;
  background-repeat : no-repeat;
}

.movie-marquee div input[type='checkbox'] {
  display:none;
}

.movie-marquee div label {
  color: #eee;
  font-size: 1.5em;
  text-shadow: 1px 1px #333;
  text-transform: uppercase;
}

.movie-marquee div label:hover {
  background-color: #3299BB;
}

.movie-marquee div label.checked {
  border: 5px solid #1f7f5f;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
}

/*
 * MOVIE MARQUEE
 */

#movie-marquee {
  overflow: hidden;
}

#movie-marquee ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#movie-marquee ul li {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

#movie-marquee ul li > a,
#movie-marquee ul li > div {
  display: block;
  text-align: center;
  outline: none;
}

#movie-marquee .panel {
  height: 338px;
  background-size : 100% 100%;
  background-repeat : no-repeat;
  margin-bottom: 0;
  line-height: 1;
}

#movie-marquee-wrapper nav span {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  background: #3299BB;
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: -50px;
  line-height: 100px;
  cursor: pointer;
  font-weight: normal;
}

#movie-marquee-wrapper nav span:hover {
  background: #378fc3;
}

#movie-marquee-wrapper nav span.marquee-next {
  position: absolute;
  right: -50px;
}

#movie-marquee-wrapper nav span.marquee-prev {
  position: absolute;
  left: -50px;
}

#movie-marquee-wrapper {
  position: relative;
}

#day-time div {
  text-align: center;
}

#day-time .between {
  font-weight: 900;
  text-shadow: 1px 1px #fff;
}

#create {
  text-align: right;
  margin: 20px 0px;
}

/*
 * FOOTER
 */

footer {
  font-family: 'credit_block', sans-serif;
  color: #fff;
  font-size: 2.25em;
  text-align: center;
  background: #222;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  width: 200px;
  text-align: center;
}

footer #credits {
  margin: 40px 0;
}

footer #date {
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

footer #date .date {
  font-weight: bold;
  text-transform: uppercase;
  color: #3299BB;
}

footer #date .rating {
  font-size: 0.5em;
  padding: 2px 5px;
  border: 1px solid #fff;
}

footer #date .twitter a {
  color: #fff;
  font-size: 0.75em;
}

footer #date .twitter a:hover {
  color: #3299BB;
}