body {
  font-family: 'Oswald', sans-serif;
  background: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px #fff;
}

p {
  line-height: 1;
}

/*
 * HELPERS
 */

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

/*
 * NAV
 */

.nav {
  background: #222;
  height: 60px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.logo-nav,
.user-nav {
  width: 50%;
  float: left;
  background: #222;
}

.nav-wrapper {
  height: 60px;
  background: #222;
}

.nav li {
  float: left;
  list-style-type: none;
  position: relative;
}

.nav li a {
  font-size: 14px;
  color: white;
  display: block;
  line-height: 60px;
  padding: 0px 25px;
  text-decoration: none;
  border-left: 1px solid #2f2f2f;
}

.nav li a:hover {
  background-color: #2f2f2f;
}

.nav form {
  padding: 0;
  margin: 0;
}

#settings #logo {
  color: #1f7f5f;
  font-family: 'Bender-Inline', sans-serif;
  font-size: 50px;
  line-height: 60px;
}

/*#settings #logo span {
  font-family: 'credit_block', sans-serif;
  font-size: 50px;
  line-height: 60px;
}*/

#search {
  width: 360px;
  margin-top: 5px;
}

#search_text {
  height: 50px;
  width: 0px;
  color: #fff;
  font-size: 14px;
  border: 0 none;
  margin-right: 0;
  outline: none;
  background: #1f7f5f;
  padding: 15px 0px;
  float: right;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.75;
}

:-moz-placeholder {
  color: #fff;
  opacity: 0.75;
}

::-moz-placeholder {
  color: #fff;
  opacity: 0.75;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 0.75;
}

#search_text:focus {
  background: #3d9b7d;
}

#search_button {
  height: 50px;
  width: 50px;
  font-size: 28px;
  border: 0 none;
  background: #1f7f5f;
  float: right;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

#options {
  width: 125px;
}

#options a {
  border-left: 0 none;
}

#options > a {
  text-align: center;
}

.subnav {
  visibility: hidden;
  position: absolute;
  top: 110%;
  right: 0;
  width: 220px;
  height: auto;
  opacity: 0;
  transition: all 0.2s;
  background: #222;
  z-index: 1000;
}

.subnav li {
  height: 60px;
  float: none;
}

.subnav li a {
  border-bottom: 1px solid #2f2f2f;
}

.subnav li a i {
  color: #1f7f5f;
  margin-right: 10px;
}

#options:hover .subnav {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

/*
 * END NAV
 */

/*
 * TIME SELECT
 */

#select-movie {
  margin-top: 25px;
}

#select h2,
#select h3 {
  color: #777;
  font-weight: 900;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

#day-time-container {
  background: #eee;
  padding-top: 185px;
  margin-top: -165px;
}

#day-time {
}

#day-time .showing {
  color: #ccc;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
}

#day-time .between {
  color: #ccc;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px #fff;
}

/*
 * MARQUEE
 */

#new_outing {
  padding: 0;
  margin: 0;
}

#dino-form .button {
  position: relative;
  margin-top: 20px;
}

#movie-marquee .panel {
  height: 330px;
  width: 220px;
  color: #eee;
  font-size: 1.5em;
  text-shadow: 1px 1px #333;
  text-transform: uppercase;
  background-size : 100% 100%;
  background-repeat : no-repeat;
  margin-bottom: 0;
  line-height: 1;
  margin: 0px;
  padding: 1.25em;
  border: 1px solid #ddd;
}

#movie-marquee .panel:hover {
  background-color: #1f7f5f;
}

#movie-marquee .panel.checked {
  border: 5px solid #1f7f5f;
}

#movie-marquee .poster {
  position: relative;
  float: left;
  margin-right: 30px;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
       /*-webkit-transition-delay: 1s;
          -moz-transition-delay: 1s;
           -ms-transition-delay: 1s;
            -o-transition-delay: 1s;*/
}

#movie-marquee .poster:nth-child(4) {
  margin-right: 0px;
}

#movie-marquee .poster input[type='checkbox'] {
  display:none;
}

#movie-marquee .check {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#movie-marquee {
  overflow: hidden;
}

#movie-marquee ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#movie-marquee ul li {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

#movie-marquee ul li > a,
#movie-marquee ul li > div {
  display: block;
  text-align: center;
  outline: none;
}

#movie-marquee-wrapper nav span {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  background: #1f7f5f;
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: -50px;
  line-height: 100px;
  cursor: pointer;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
}

#movie-marquee-wrapper nav span:hover {
  background: #3d9b7d;
}

#movie-marquee-wrapper nav span.marquee-next {
  position: absolute;
  right: -50px;
}

#movie-marquee-wrapper nav span.marquee-prev {
  position: absolute;
  left: -50px;
}

#movie-marquee-wrapper {
  position: relative;
}

#create {
  text-align: right;
  margin: 20px 0px;
}

#movie-marquee .movie-info-tool-tip {
  height: 220px;
  width: 220px;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  color: #777;
  text-align: left;
  background: #f8f8f8;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
}

#movie-marquee .movie-info-tool-tip h4 {
  color: #222;
  text-transform: uppercase;
}

#movie-marquee .movie-info-tool-tip.tool-tip-right {
  top: 55px;
  right: -270px;
}

#movie-marquee .poster:hover .movie-info-tool-tip.tool-tip-right {
  visibility: visible;
  right: -250px;
  opacity: 1;
}

#movie-marquee .movie-info-tool-tip.tool-tip-left {
  top: 55px;
  left: -270px;
}

#movie-marquee .poster:hover .movie-info-tool-tip.tool-tip-left {
  visibility: visible;
  left: -250px;
  opacity: 1;
}

#movie-marquee .movie-info-wrapper {
  position: relative;
}

#movie-marquee .movie-info-wrapper .arrow-left {
  font-size: 60px;
  color: #f8f8f8;
  position: absolute;
  top: 25%;
  left: -28px;
  text-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
}

#movie-marquee .movie-info-wrapper .arrow-right {
  font-size: 60px;
  color: #f8f8f8;
  position: absolute;
  top: 25%;
  right: -28px;
  text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}

/*
 * SELECT DROPDOWN
 */

 #day {
  display: none;
 }

 #start_time {
  display: none;
 }

 #end_time {
  display: none;
 }

.wrapper-dropdown {
  position: relative;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  background: #1f7f5f;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  z-index: 999;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #fff;    
}

.wrapper-dropdown .dropdown {
  position: absolute;
  max-height: 200px;
  overflow: scroll;
  top: 100%;
  left: 0;
  right: 0;
  background: #222;
  font-weight: normal;
  opacity: 0;
  pointer-events: none;
  list-style: none;
}

.wrapper-dropdown .dropdown li {
  height: 25px;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 25px;
  padding-left: 10px;
}
 
.wrapper-dropdown .dropdown li:hover a {
  background: #2f2f2f;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}
 
.wrapper-dropdown.active:after {
  border-color: #fff transparent;
  border-width: 6px 6px 0 6px ;
  margin-top: -3px;
}
 
.wrapper-dropdown.active {
  background: #3d9d7d;
}           

/*
 * FOOTER
 */

footer {
  font-family: 'credit_block', sans-serif;
  color: #fff;
  font-size: 2.25em;
  text-align: center;
  background: #222;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  width: 200px;
  text-align: center;
}

footer #credits {
  margin: 40px 0;
}

footer #date {
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

footer #date .date {
  font-weight: bold;
  text-transform: uppercase;
  color: #3299BB;
}

footer #date .rating {
  font-size: 0.5em;
  padding: 2px 5px;
  border: 1px solid #fff;
}

footer #date .twitter a {
  color: #fff;
  font-size: 0.75em;
}

footer #date .twitter a:hover {
  color: #3299BB;
}